.main-container {
  width: 100vw;
  height: 100vh;
  background: rgb(31, 36, 214);
  background: radial-gradient(
    circle,
    rgba(31, 36, 214, 1) 0%,
    rgba(137, 114, 237, 1) 100%
  );
  display: flex;
  justify-content: center;
  padding: 3% 0 3% 0;
}

body {
  overflow: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(93, 12, 255, 1) #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #a85ae7;
  border-radius: 8px;
  border: 3px solid #ffffff;
}
